{% extends 'base.html.twig' %}

{% block title %}Hello FamilyController!{% endblock %}

{% block body %}
    Edit de la famille {{ family.name }}

    {{ form_start(editionForm) }}
        {{ form_widget(editionForm) }}
        <button type="submit">Modifier</button>
    {{ form_end(editionForm) }}

{% endblock %}
