{% extends 'base.html.twig' %}

{% block title %}Hello FamilyController!{% endblock %}

{% block body %}
    Affichage des familles

    <ul>
    {% for family in families %}
        <li>
            <a href="{{ path('family_show', {id: family.id}) }}">{{ family.name }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
